useDynLib(apl)
exportPattern("^[[:alpha:]]+")

export(
    aplCRV,
    aplDecode,
    aplDrop,
    aplEncode,
    aplExpand,
    aplEXV,
    aplGet,
    aplInnerProduct,
    aplJoin,
    aplMemberOf,
    aplOuterProduct,
    aplRank,
    aplRavel,
    aplRDV,
    aplReduce,
    aplReplicate,
    aplReshape,
    aplRotate,
    aplRTV,
    aplScan,
    aplSCV,
    aplSelect,
    aplSet,
    aplShape,
    aplTake,
    aplTranspose,
    butFirst,
    butLast,
    first,
    last,
    unit
)

